body{
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/desktop.png');
    height: 98vh;
    width: 98vw;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.window-body{
  display: grid;
  overflow: auto;
}

.gif-area{
  background-color: red;
}
